/Ex.class
/Hi.class
/ScannerEx01_p96.class
/VarEx01_p53.class
/VarEx02_p61.class
/VarEx03_p62.class
/VarEx04_p63.class
/VarEx05_p73.class
/VarEx06_p74.class
/VarEx07_p76.class
/VarEx08_p82.class
/printf_p90.class
/readEx01_p93.class
/readEx_02.class
